<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover rounded-3">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Due Date</th>
          <th scope="col">Priority</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
        <th scope="row">{{ task.title }}</th>
        <td>{{ task.dueDate }}</td>
        <td><span class="bi bi-circle-fill {{ task.priority.toLowerCase() }}">&nbsp;</span>{{ task.priority }}</td>
        <td>
          <!-- Chane to dropdown -->
          {{ task.status }}
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>