.top-bar {
  width: 100%;
}

.select-box {
  color: darkgrey;
  height: 25px;
  width: 100px;
}

.option-text {
  color: black;
}

.btn-success {
  font-size: 13px;
  height: 33px;
  width: 150px;
  background-color: limegreen;
  border: none;
}

.task-table {
  border: 1px solid darkgrey;
  border-radius: 10px;
}

.task-heading {
  color:darkgrey
}

.task-row {
  border-bottom: 1px solid darkgrey;
}