<app-view-task></app-view-task>
<app-task-modal></app-task-modal>
<!-- Begin Delete Confirmation Modal -->
<div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="d-flex justify-content-end btn-close-div">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center mt-3">
        <p *ngIf="deleteIndex !== undefined"
        class="mb-4"
        style="font-weight: bold; font-size: 28px;">Are you sure you want to delete task '{{ tasks[deleteIndex].title }}'?</p>
        <div class="mb-5">
          <button type="button" class="btn btn-secondary dlt-btn me-4" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger dlt-btn" data-bs-dismiss="modal" (click)="deleteTask(deleteIndex)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Confirmation Modal -->
<!-- Task List Bar -->
<div class="container mt-5">
  <h1 class="mb-4" >Task List</h1>
  <div class="d-flex flex-row mb-3 top-bar">
    <label class="me-2 mt-2" style="font-weight: bold;">Filters:</label>
    <div class="dropdown me-2">
      <button class="btn btn-default btn-sm dropdown-toggle mt-1 unformattedDate select-box" type="button" data-bs-toggle="dropdown" #dueDateBtn>Due Date</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="filterByDate(null, dueDateBtn)">Show All</a></li>
        <ng-container *ngFor="let task of tasks">
          <li *ngIf="task.dueDate !== ''"><a class="dropdown-item" (click)="filterByDate(task, dueDateBtn)">{{ task.dueDate }}</a></li>
        </ng-container>
      </ul>
    </div>
    <div class="dropdown me-2">
      <button class="btn btn-default btn-sm dropdown-toggle mt-1 priority select-box" type="button" data-bs-toggle="dropdown" #priorityBtn>Priority</button>
      <ul class="dropdown-menu priority">
        <li><a class="dropdown-item" (click)="filterByPriority(0, priorityBtn)">Show All</a></li>
        <li><a class="dropdown-item" (click)="filterByPriority(1, priorityBtn)"><span class="bi bi-circle-fill low">&nbsp;</span>Low</a></li>
        <li><a class="dropdown-item" (click)="filterByPriority(2, priorityBtn)"><span class="bi bi-circle-fill medium">&nbsp;</span>Medium</a></li>
        <li><a class="dropdown-item" (click)="filterByPriority(3, priorityBtn)"><span class="bi bi-circle-fill high">&nbsp;</span>High</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default btn-sm dropdown-toggle mt-1 status select-box" type="button" data-bs-toggle="dropdown" #statusBtn>Status</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="filterByStatus(0, statusBtn)">Show All</a></li>
        <li><a class="dropdown-item" (click)="filterByStatus(1, statusBtn)">To Do</a></li>
        <li><a class="dropdown-item" (click)="filterByStatus(2, statusBtn)">In Progress</a></li>
        <li><a class="dropdown-item" (click)="filterByStatus(3, statusBtn)">Done</a></li>
      </ul>
    </div>
    <span class="flex-grow-1"></span>
    <button class="btn btn-success btn-sm new-task-btn mt-1"
    (click)="onTaskModal()">Add New Task</button>
  </div>
</div>
<!-- End Task List Bar -->
<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover rounded-3" id="taskTable">
      <thead>
        <tr>
          <th class="header can-sort" scope="col" (click)="sortTasks('title')">Task&nbsp;<span class="bi bi-caret-down"></span></th>
          <th class="header can-sort" scope="col" (click)="sortTasks('unformattedDate')">Due Date&nbsp;<span class="bi bi-caret-down"></span></th>
          <th class="header can-sort" scope="col" (click)="sortTasks('priorityNumber')">Priority&nbsp;<span class="bi bi-caret-down"></span></th>
          <th class="header can-sort" scope="col" (click)="sortTasks('statusNumber')">Status&nbsp;<span class="bi bi-caret-down"></span></th>
          <th class="header" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-bottom"
        *ngFor="let task of tasks | sortTasks:taskSort:taskSortDir; let i = index;">
          <ng-container
            *ngIf="i >= ((pageNum - 1) * 15) && i < ((pageNum - 1) * 15 + 15)
            && (dueDateFilter === '' || dueDateFilter === task.unformattedDate || task.unformattedDate === '')
            && (priorityFilter === 0 || priorityFilter === task.priorityNumber || task.priorityNumber === 0)
            && (statusFilter === 0 || statusFilter === task.statusNumber || task.statusNumber === 0)">
            <td class="title" scope="row">{{ task.title }}</td>
            <td>{{ task.dueDate }}</td>
            <td><span
              *ngIf="task.priority !== ''"
              class="bi bi-circle-fill {{ task.priority.toLowerCase() }}">&nbsp;</span>{{ task.priority }}</td>
            <td>
              <select class="status-dropdown" id="status-change"
              (change)="changeStatus($event.target.value, i)"
              *ngIf="task.priority !== ''">
                <option selected hidden>{{ task.status }}</option>
                <option value="To Do-1">To Do</option>
                <option value="In Progress-2">In Progress</option>
                <option value="Done-3">Done</option>
              </select>
            </td>
            <td>
              <!-- <div class="d-flex justify-content-evenly" -->
              <div
              *ngIf="task.priority !== ''">
                <i class="bi bi-eye action me-3" title="View" (click)="onTaskModal(i)"></i>
                <i class="bi bi-pencil-square action me-3" title="Edit" (click)="onTaskModal(i)"></i>
                <i class="bi bi-trash action" title="Delete" (click)="showDeleteModal(i)"></i>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <div class="pages text-center">
      <button class="btn btn-sm btn-arrow me-1" [disabled]="pageNum === 1" (click)="prevPage()">&laquo;</button>
      <button class="btn btn-sm btn-num me-1">{{ pageNum }}</button>
      <button class="btn btn-sm btn-arrow" [disabled]="pageNum === totalPages || totalPages === 0" (click)="nextPage()">&raquo;</button>
    </div>
  </div>
</div>