.table {
  border: 1px solid darkgrey;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

th, td {
  border: none;
}

tr.border-bottom:not(:last-child) td {
  border-bottom: 1px solid darkgrey;
}

tr.border-bottom:not(:last-child) th {
  border-bottom: 1px solid darkgrey;
}

td:empty::after {
  content: "\00a0";
}

.header {
  background-color: lightgrey;
}

.low {
  color: limegreen;
}

.medium {
  color: gold;
}

.high {
  color: crimson;
}

.bi {
  cursor: pointer;
}

.action:hover {
  color: darkgrey;
}

.btn-close-div {
  margin-top: 12px;
  margin-right: 12px;
}

.btn-close {
  width: 5px;
  height: 5px;
}

.dlt-btn {
  width: 110px;
  height: 35px;
  font-size: 13px;
}