@-moz-document url-prefix() {
  select {
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: white;
    padding-left: 5px;
  }
}

.table {
  border: 1px solid darkgrey;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

td.title {
  font-weight: bold;
}

.top-bar {
  width: 100%;
}

.select-box {
  color: darkgrey;
  /* width: 115px; */
  width: 125px;
  /* font-size: 13px; */
  border-radius: 5px;
  border-color: darkgrey;
}

.select-box-filtered {
  color: black;
}

/* .option-text {
  color: black;
} */

.dropdown-item {
  cursor: pointer;
  font-size: 14px;
  color: black;
  width: 123px;
}

.dropdown-menu {
  min-width: 120px;
}

.status-dropdown {
  border-color: darkgrey;
  border-radius: 5px;
  min-width: 110px;
  font-size: 14px;
  height: 23px;
}

.new-task-btn {
  font-size: 13px;
  width: 150px;
  background-color: limegreen;
  border: none;
  color: white;
}

.new-task-btn:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px limegreen;
  color: limegreen;
  transition: background-color .3s, box-shadow .3s, color .3s;
}

tr {
  height: 42px;
}

th, td {
  border: none;
}

tr.border-bottom:not(:nth-child(15n)) td {
  border-bottom: 1px solid darkgrey;
}

tr.border-bottom:not(:nth-child(15n)) th {
  border-bottom: 1px solid darkgrey;
}

td:empty::after {
  content: "\00a0";
}

.header {
  /* background-color: lightgrey; */
  border-bottom: 1px solid grey;
  color: darkgrey;
  font-weight: 500;
}

.can-sort {
  cursor: pointer;
}

.bi-caret-down {
  color: transparent;
  transition: color .3s;
}

.can-sort:hover .bi-caret-down {
  color: inherit;
}

.low {
  color: limegreen;
}

.medium {
  color: gold;
}

.high {
  color: crimson;
}

.bi.action {
  cursor: pointer;
}

.action:hover {
  color: darkgrey;
}

.btn-close-div {
  margin-top: 12px;
  margin-right: 12px;
}

.btn-close {
  width: 5px;
  height: 5px;
}

.dlt-btn {
  width: 110px;
  height: 35px;
  font-size: 13px;
}

.pages .btn-arrow {
  background-color: limegreen;
  color: white;
  border: none;
  width: 50px;
}

.pages .btn-arrow:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px limegreen;
  color: limegreen;
  font-weight: bolder;
  transition: background-color .3s, box-shadow .3s, color .3s;
}

.pages .btn-num {
  background-color: limegreen;
  color: white;
  border: none;
  width: 30px;
}

.pages .btn:disabled {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px limegreen;
  color: limegreen;
  font-weight: bolder;
  opacity: 30%;
}