@-moz-document url-prefix() {
  select {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: white;
    padding-left: 5px;
  }
}

.page-container {
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 20vh;
}

h6 {
  color: darkgrey;
}

h5 {
  font-weight: bold;
}

.task-container {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 600px;
  overflow: auto;
  /* Firefox Scrollbar */
  scrollbar-color: darkgrey lightgrey;
  scrollbar-width: thin;
}

/* Chrome Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
/* End Chrome Scrollbar */

.task-card {
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-top: 11px;
}

.task-card:last-child {
  margin-bottom: 11px;
}

.label {
  color: darkgrey;
}

.bi {
  font-size: 12px;
  display: inline-flex;
}

.value {
  color: black;
}

.low {
  color: limegreen;
}

.medium {
  color: gold;
}

.high {
  color: crimson;
}

.dropdown-menu {
  min-width: 70px;
}

.status-dropdown {
  border-radius: 5px;
  width: 120px;
  font-size: 13px;
  font-weight: 600;
  height: 28px;
}

.todo-dropdown {
  background-color: khaki;
  border-color: khaki;
}

.progress-dropdown {
  background-color: aqua;
  border-color: aqua;
}

.done-dropdown {
  background-color: lightgreen;
  border-color: lightgreen;
}

span {
  font-weight: 600;
}

/* Drag and drop */
.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}