<div class="container mt-5">
  <h1>KanBan</h1>
  <div class="row d-flex justify-content-evenly mt-3 ms-2 me-5">
    <div class="col-4">
      <h6>To Do</h6>
      <div class="container task-container">

        <div class="container task-card">
          <div class="row">
            <div class="col-8 mt-2">
              <h5>Clean Out Garage</h5>
              <span class="label">Priority: <span class="value">High <i class="bi bi-circle-fill high"></i></span></span>
              <p class="label mt-1">Due Date: <span class="value">March 31st</span></p>
            </div>
            <div class="dropdown col-4 mt-3">
              <button class="btn btn-sm btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown">To Do</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">To Do</a></li>
                <li><a class="dropdown-item" href="#">In Progress</a></li>
                <li><a class="dropdown-item" href="#">Done</a></li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4">
      <h6>In Progress</h6>
      <div class="container task-container">
      </div>
    </div>
    <div class="col-4">
      <h6>Done</h6>
      <div class="container task-container">
      </div>
    </div>
  </div>
</div>