<!-- Welcome -->
<div class="vertical-center" *ngIf="leftWelcome === false">
  <div class="container welcome-container welcome-box">
    <div class="text-center mt-4">
      <span class="welcome-text">Welcome to <span class="welcome-text green">TASK</span><span class="welcome-text">IT</span></span>
    </div>
    <div class="text-center mt-3 paragraph-div">
      <span class="welcome-paragraph">This platform allows you to keep track of tasks profesionally, domestically, and more. Sign up today to get to work!</span>
    </div>
    <div class="text-center img-container">
      <img class="screenshot" src="./assets/images/landing_screen.png">
      <p class="welcome-paragraph overlay">Create an account to get started today.</p>
    </div>
    <div class="text-center buttons mt-4 mb-5">
      <button class="btn btn-success me-3 signup-btn" type="button" (click)="hasAccount(false)">Sign Up</button>
      <span class="me-3">or</span>
      <button class="btn btn-success login-btn" type="button" (click)="hasAccount(true)">Login</button>
    </div>
  </div>
</div>
<!-- End Welcome -->
<!-- Auth -->
<div class="vertical-center">
  <div class="container auth-container info-box entering">
    <!-- Sign Up -->
    <div class="signup-div" hidden>
      <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit(signupForm)">
        <div class="ms-sm-3 ms-xl-4 mt-5 mb-5">
          <span class="logo-text">Welcome to </span>
          <span class="logo-text green">TASK</span><span class="logo-text">IT!</span>
          <div class="label"><span>Sign up to get things done.</span></div>
        </div>
        <div class="mb-3 ms-4 me-4">
          <label for="firstName" class="form-label label">First Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
          <span class="help-block text-danger"
          *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched"
          >Please enter your first name.</span>
        </div>
        <div class="mb-3 ms-4 me-4">
          <label for="lastName" class="form-label label">Last Name</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
          <span class="help-block text-danger"
          *ngIf="!signupForm.get('lastName').valid && signupForm.get('lastName').touched"
          >Please enter your last name.</span>
        </div>
        <div class="mb-3 ms-4 me-4">
          <label for="email" class="form-label label">Email</label>
          <input type="email" class="form-control" id="semail" formControlName="email">
          <span class="help-block text-danger"
          *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
          >Please enter a valid email.</span>
        </div>
        <div class="mb-3 ms-4 me-4">
          <label for="password" class="form-label label">Password</label>
          <input type="password" class="form-control" id="spassword" formControlName="password">
          <span class="help-block text-danger"
          *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
          >Please enter a password.</span>
        </div>
        <div class="d-flex justify-content-end me-3 bottom">
          <div class="mt-2 me-4 account">
            <span class="me-2">Have an account?</span><a class="green login" (click)="hasAccount(true); containerHeight()">Login</a>
          </div>
          <button class="btn btn-success me-2 submit" type="submit" [disabled]="!signupForm.valid">Submit</button>
        </div>
      </form>
    </div>
    <!-- End Sign Up -->
    <!-- Login -->
    <div class="login-div" hidden>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm)">
        <div class="ms-sm-3 ms-xl-4 mt-5 mb-5">
          <span class="logo-text">Welcome Back!</span>
          <div class="label"><span>Let's get to work.</span></div>
        </div>
        <div class="mb-3 ms-4 me-4">
          <label for="email" class="form-label label">Email</label>
          <input type="email" class="form-control" id="lemail" formControlName="email">
          <span class="help-block text-danger"
          *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched"
          >Please enter your email.</span>
        </div>
        <div class="mb-3 ms-4 me-4">
          <label for="password" class="form-label label">Password</label>
          <input type="password" class="form-control" id="lpassword" formControlName="password">
          <span class="help-block text-danger"
          *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
          >Please enter your password.</span>
        </div>
        <div class="d-flex justify-content-end me-3 bottom">
          <div class="mt-2 me-4 account">
            <span class="me-2">Don't have an account?</span><a class="green login" (click)="hasAccount(false); containerHeight()">Sign Up</a>
          </div>
          <button class="btn btn-success me-2 submit" type="submit" [disabled]="!loginForm.valid">Submit</button>
        </div>
      </form>
    </div>
    <!-- End Login -->
  </div>
</div>