.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.welcome-box {
  background-color: rgb(248, 249, 250);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.welcome-text {
  font-size: 40px;
  font-weight: bold;
}

.paragraph-div {
  width: 700px;
  margin: auto;
}

.welcome-paragraph {
  font-size: 23px;
  font-weight: 600;
  line-height: 1;
}

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 94%;
}

.screenshot {
  display: block;
  margin: auto;
  max-width: 65%;
  /* width: 850px; */
  height: auto;
}

.signup-btn {
  width: 150px;
  background-color: limegreen;
  border: 1px solid limegreen;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 8px;
}

.signup-btn:hover {
  color: limegreen;
  background-color: white;
  border: 1px solid limegreen;
}

.login-btn {
  width: 150px;
  color: limegreen;
  background-color: white;
  border: 1px solid limegreen;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 8px;
}

.login-btn:hover {
  color: white;
  background-color: limegreen;
  border: 1px solid limegreen;
}

.auth-container {
  width: 550px;
}

.auth-container.switch {
  position: relative;
  animation: move .3s ease-in-out;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes move {
  50% {
    transform: translateX(50vw) translateY(-50%);
  }
  50.001% {
    transform: translateX(-60vw) translateY(-50%);
  }
}

.info-box {
  /* background-color: #f2f3f4; */
  background-color: rgb(248, 249, 250);
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.logo-text {
  font-size: 26px;
  font-weight: bolder;
}

.green {
  color: limegreen;
}

.label {
  font-size: 18px;
  font-weight: 500;
}

.bottom {
  margin-bottom: 100px;
}

/* .login-bottom {
  margin-bottom: 70px;
} */

.account {
  font-size: 13px;
  font-weight: 500;
}

.login {
  cursor: pointer;
  text-decoration: none;
}

.login:hover {
  color: #28a428;
}

.submit {
  background-color: limegreen;
  border: none;
  width: 100px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.error {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 350px;
  text-align: center;
  line-height: 1;
}