.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.container {
  width: 550px;
}

.container.switch {
  position: relative;
  animation: move .3s ease-in-out;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes move {
  50% {
    transform: translateX(50vw) translateY(-50%);
  }
  50.001% {
    transform: translateX(-60vw) translateY(-50%);
  }
}

.info-box {
  /* background-color: #f2f3f4; */
  background-color: rgb(248, 249, 250);
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.logo-text {
  font-size: 26px;
  font-weight: bolder;
}

.green {
  color: limegreen;
}

.label {
  font-size: 18px;
  font-weight: 500;
}

.bottom {
  margin-bottom: 100px;
}

/* .login-bottom {
  margin-bottom: 70px;
} */

.account {
  font-size: 13px;
  font-weight: 500;
}

.login {
  cursor: pointer;
  text-decoration: none;
}

.login:hover {
  color: #28a428;
}

.submit {
  background-color: limegreen;
  border: none;
  width: 100px;
}