<div class="container mt-5">
  <h1 class="mb-4" >Task List</h1>
  <div class="d-flex flex-row mb-3 top-bar">
    <label class="me-2 mt-2" style="font-weight: bold;">Filters:</label>
    <div class="dropdown me-2">
      <button class="btn btn-default btn-sm dropdown-toggle mt-1 select-box" type="button" data-bs-toggle="dropdown">Due Date</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">10/04/23</a></li>
      </ul>
    </div>
    <div class="dropdown me-2">
      <button class="btn btn-default btn-sm dropdown-toggle mt-1 select-box" type="button" data-bs-toggle="dropdown">Priority</button>
      <ul class="dropdown-menu priority">
        <li><a class="dropdown-item" href="#"><span class="bi bi-circle-fill low">&nbsp;</span>Low</a></li>
        <li><a class="dropdown-item" href="#"><span class="bi bi-circle-fill med">&nbsp;</span>Medium</a></li>
        <li><a class="dropdown-item" href="#"><span class="bi bi-circle-fill high">&nbsp;</span>High</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default btn-sm dropdown-toggle mt-1 select-box" type="button" data-bs-toggle="dropdown">Status</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">To Do</a></li>
      </ul>
    </div>
    <span class="flex-grow-1"></span>
    <button class="btn btn-success btn-sm new-task-btn mt-1"
    (click)="onNewTask(newTask = !newTask)">Add New Task</button>
  </div>
</div>