<div class="modal fade" id="editTaskModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="d-flex justify-content-end btn-close-div">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" id="editTaskForm">
          <h1 class="modal-title fs-5" id="newTaskModalLabel">Edit Task</h1>
          <div class="col-8">
            <label for="inputEditTaskName" class="form-label">Task</label>
            <input type="text" class="form-control" id="inputEditTaskName" maxlength="25" placeholder="Name the task">
            <label for="inputEditDetails" class="form-label mt-3">Details</label>
            <textarea type="text" class="form-control" id="inputEditDetails" maxlength="400" placeholder="Describe the task" style="height: 160px; resize: none;"></textarea>
          </div>
          <div class="col-4">
            <label for="inputEditDueDate" class="form-label">Due Date</label>
            <!-- <input type="text" class="form-control" id="inputEditDueDate"> -->
            <div>
              <input type="date" class="form-control" id="inputEditDueDate">
            </div>
            <label for="inputEditPriority" class="form-label mt-2">Priority</label>
            <div>
              <select class="form-select" aria-label="Priority" id="inputEditPriority">
                <option selected value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
            </div>
            <label for="inputEditStatus" class="form-label mt-2">Status</label>
            <div>
              <select class="form-select" aria-label="Status" id="inputEditStatus">
                <option selected value="To Do">To Do</option>
                <option value="In Progress">In Progress</option>
                <option value="Done">Done</option>
              </select>
            </div>
            <div class="d-flex justify-content-between mt-3 pb-4">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Cancel</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="saveChanges()">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>