<div class="container p-2 user-info-box">
  <div class="row">
    <div class="col-2">
      <img src="{{ user.image }}" style="max-height: 30px; border-radius: 50%;">
    </div>
    <div class="col-7">
      <div class="name">{{ user.name }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
    <div class="col-3 mt-2">
      <a class="click" (click)="onLogout()">
        <span class="bi material-symbols-outlined ms-sm-2 ms-xl-4 logout">
          move_item
        </span>
      </a>
    </div>
  </div>
</div>