.user-info-box {
  border-top: 1px solid lightgrey;
}

.name {
  font-weight: bold;
  font-size: 12px;
}

.email {
  font-size: 11px;
}

.logout {
  color: darkgrey;
  font-size: 18px;
}

.logout:hover {
  color: lightgrey;
}