.sidebar-div {
  height: 100%;
  border-right: 1px solid lightgrey;
}

.logo-text-one {
  font-size: 30px;
  font-weight: bolder;
  color: limegreen;
}

.logo-text-two {
  font-size: 30px;
  font-weight: bolder;
}

.btn-success {
  font-size: 14px;
  background-color: limegreen;
  border: none;
}