<nav class="nav flex-column sidebar-div">
  <div class="logo-text ms-sm-3 ms-xl-4 mt-5 mb-5"><span style="color: limegreen">TASK</span><span>IT</span></div>
  <button class="btn btn-success ms-sm-3 ms-xl-4 me-sm-3 me-xl-4"
  routerLinkActive="active"
  routerLink="./tasks-list">Task List</button>
  <button class="btn btn-success ms-sm-3 ms-xl-4 me-sm-3 me-xl-4 mt-3"
  routerLinkActive="active"
  routerLink="./kanban">KanBan</button>
  <button class="btn btn-success ms-sm-3 ms-xl-4 me-sm-3 me-xl-4 mt-3 mb-auto"
  routerLinkActive="active"
  routerLink="./im-bored">I'm Bored</button>
  <app-user-info-box></app-user-info-box>
</nav>