.sub-heading {
  color: darkgrey;
  line-height: 1px;
}

.task-btn {
  color: white;
  font-size: 22px;
  background-color: limegreen;
  border: 1px solid limegreen;
  width: 250px;
  height: 65px;
}

.task-btn:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px limegreen;
  color: limegreen;
  transition: background-color .3s, box-shadow .3s, color .3s;
}

.task-box {
  border: 1px solid limegreen;
  /* background-color: lightgreen; */
  background-color: rgba(51, 170, 51, .1);
  border-radius: 10px;
  width: 400px;
  height: 200px;
  position: relative;
}

.task-text {
  text-align: center;
  color: limegreen;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.bi.action {
  cursor: pointer;
  color: limegreen;
  font-size: 30px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.bi.action:hover {
  color: green;
}